@import './styles/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow-card {
  box-shadow: var(--card-shadow);
}
